body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #1C4D8D;
}

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainpage {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  padding:  30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  display: flex;
  flex-direction:column;
  align-items: center;
}
h2{
  text-align: center;
  color: #BDE8F5;
}
form{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
form p {
  margin: 0px 0 5px
  font-weight: bold;
  color: #BDE8F5;
}
form a{
  color: #4988C4;
  text-decoration: none;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 5px blue;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
  background: #4988C4;
}
input[type="text"]:hover{
  transform: scalex(1.1);
  transition: all 0.4s ease-in-out;
}
input[type="password"]:hover{
  transform: scalex(1.1);
  transition: all 0.4s ease-in-out;
}
.password-container {
  position: relative;
  width: 100%;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle img {
  width: 17px;
  height: 20px;
}
#frmbtn {
  width: 100%;
  padding: 10px;
  background-color: #1C4D8D;
  color: #BDE8F5;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.4s ease;
}

#frmbtn:hover {
  background-color: #4988C4;
}
.social-login {
  margin-top: 20px;
}

.social-login p {
  color: #BDE8F5;
  margin-bottom: 10px;
}
.icons a {
  margin: 0 10px;
}

.icons img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.icons img:hover {
  transform: scale(1.1);
}